// Normal
@font-face {
    font-family: "Calc";
    src: url("fonts/DSEG14-Modern/DSEG14Modern-Regular.ttf");
}
@font-face {
    font-family: "Calc";
    src: url("fonts/DSEG14-Modern/DSEG14Modern-Italic.ttf");
    font-style: italic, oblique;
}

// Bold
@font-face {
    font-family: "Calc";
    src: url("fonts/DSEG14-Modern/DSEG14Modern-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Calc";
    src: url("fonts/DSEG14-Modern/DSEG14Modern-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic, oblique;
}
