<div class="container">
  <div *ngFor="let row of buttonMatrix" class="row justify-content-md-center">
    <div *ngFor="let button of row" class="col col-lg-1"><button (click)="addToOperation($event)" class="btn">{{button}}</button></div>
  </div>
</div>
